.catalog {

  &_container {
    width: 1590px;
    display: flex;
    padding: 0 84px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &_header {
    width: 385px;
    height: 62px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 124px;
  }

  &_header_title {
    color: #000000;
    width: 253px;
    font-weight: 500;
    font-size: 45px;
    text-transform: capitalize;
    gap: 22px;
  }

  &_button {
    width: 514px;
    height: 79px;
    display: inline-flex;
    gap: 79px;
  }

  &_btnmen,
  &_btnwomen {
    @include clear-button;
    width: 216px;
    height: 79px;
    font-weight: 500;
    font-size: 28px;
    margin-top: 62px;

  }
    &_btnmen {
      background-color: #000000;
      color: white;
    }
    &_btnwomen {
      background-color: white;
      color: #000000;
      border: 2px solid #000000BF;
    }

  &_big_wrapper {
    display: flex;
    align-items: center;
    gap: 29px;
  }
  &_wrapper {
    margin-top: auto;
  }

  &_formal_sneaker {
    width: 1043px;
    height: 1117px;
    color: #000000;
    margin-top: 160px;
    background-color: #D9D9D926;
    border-radius: 25px;
    border: 2px solid #DEDEDE;
  }

  &_formal_produkt {
    width: 762px;
    height: 762px;
    position: relative;
  }

  &_badge_hot {
    width: 121px;
    background-color: #DA4B54;
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    box-shadow: 8px 7px 16.1px 0px #00000040;
    margin-top: 104px;
  }

  &_formal_arrowblack {
      scale: 3;
      margin-left: 841px;
      margin-top: 931px;
      position: absolute;
  }

  &_formal_produkt {
    width: 761px;
    margin-left: 140px;
  }

  &_formal_title {
    width: 625px;
    height: 175px;
    font-size: 64px;
    font-weight: 500;
  }

  &_formal_title,
  &_formal_container {
    margin-left: 79px;
  }

  &_formal_container {
    width: 356px;
    height: 67px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
  }
    &_formal_price {
      width: 183px;
      font-size: 48px;
    }
    &_formal_saleprice {
      text-decoration: line-through;
      width: 129px;
      font-size: 24px;
    }

  &_sneaker{
    width: 488px;
    height: 524px;
    color: #000000;
    margin-top: 69px;
    background-color: #D9D9D926;
    border-radius: 25px;
    border: 2px solid #DEDEDE;
    }

  &_produkt{
    width: 373px;
    margin-left: 58px;
    position: relative;
  }

  &_badge_new {
    width: 45px;
    height: 25px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-weight: 500;
    position: absolute;
    box-shadow: 8px 7px 16.1px 0px #00000040;
    margin-top: 104px;
  }

  &_arrowblack {
    margin-left: 390px;
    margin-top: 426px;
    position: absolute;
  }

  &_title {
    width: 215px;
    height: 33px;
    font-size: 24px;
    font-weight: 500;
  }

  &_title,
  &_price_container {
    margin-left: 40px;
  }

  &_price_container {
    width: 174px;
    height: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
  }
    &_price {
      width: 90px;
      font-size: 24px;
    }
    &_saleprice {
      text-decoration: line-through;
      width: 68px;
      font-size: 18px;
    }

  &_finish_button {
    @include clear-button;
    margin-top: 102px;
    width: 290px;
    height: 77px;
    font-size: 28px;
    font-weight: 600;
    background-color: black;
    color: white;
    box-shadow: 0px 2.77px 2.21px 0px #00000005,
                0px 6.65px 5.32px 0px #00000007,
                0px 12.52px 10.02px 0px #00000009,
                0px 22.34px 17.87px 0px #0000000B,
                0px 41.78px 33.42px 0px #0000000D,
                0px 100px 80px 0px #00000012;
  }
  }
