.footer {

  &_container {
    width: 1590px;
    height: 477px;
    display: flex;
    justify-content: center;
    padding: 0 84px;
    margin: 0 auto;
    background-color: black;
    margin-top: 95px;
    color: #FFFFFF;
  }

  &_decorative_line {
    margin-top: 388px;
    position: absolute;
  }

  &_website {
    width: 275px;
    margin-top: 426px;
    position: absolute;
  }

  &_email {
    font-size: 18px;
    font-weight: 400;
  }

  &_content {
    width: 1560px;
    height: 218px;
    display: inline-flex;
    justify-content: space-between;
    margin-top: 85px;
    position: relative;
  }

  &_left {
    width: 409;
    height: 218px;
    text-transform: capitalize;
  }

  &_logo {
    width: 70px;
    height: 43px;
    font-size: 28px;
    font-weight: 800;
  }

  &_description {
    width: 409px;
    height: 56px;
    font-size: 18px;
    font-weight: 400;
    margin-top: 47px;
    margin-bottom: 55px;
  }

  &_icons {
    width: 70px;
    display: inline-flex;
    justify-content: space-between;
  }

  &_email_box {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-between;
    width: 447px;
    height: 61px;
  }

  &_title {
    width: 315px;
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 13px 70px;
  }

  &_input {
    border: none;
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px;
  }

  &_btn {
    @include clear-button;
    width: 160px;
    font-size: 18px;
    font-weight: 500px;
  }

  &_right {
    width: 169px;
    height: 147px;
    margin-left: 216px;
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &_reference {
    font-size: 20px;
    font-weight: 500;
  }

  &_contacts {
    font-size: 18px;
    font-weight: 400;
  }

}
