.hero {
  &_content {
    width: 590px;
  }

  &_main_title {
    width: 480px;
    font-size: 75px;
    display: inline-block;
    margin-top: 340px;
    line-height: 1;
  }

  &_description {
    width: 590px;
    font-size: 28px;
    margin-top: 78px;
  }

  &_btn {
    color: #FFFFFF;
    background-color: #000000;
    margin-top: 78px;
    width: 312px;
    height: 87px;
    font-size: 28px;
    text-transform: capitalize;
    box-shadow: 0px 2.32px 1.97px 0px #00000006,
                0px 5.39px 4.58px 0px #00000009,
                0px 9.68px 8.22px 0px #0000000B,
                0px 16.06px 13.65px 0px #0000000C,
                0px 26.45px 22.49px 0px #0000000E,
                0px 46.23px 39.3px 0px #00000011,
                0px 100px 85px 0px #00000017;
  }
}
