.icon-find,
.icon-shop {
  display: flex;
  align-items: center;
  position: relative;
  border: none;
  background: transparent;
}

.card-count {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: #D9D9D9;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: 20px;
  margin-bottom: 20px;
}
