.container {
  max-width: 1200px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-self: center;
  margin-left: 84px;
  margin-right: 84px;
}

.navigation {
  margin-top: 77px;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 93px;
  height: 31px;
}
