.partner {

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 84px;
    margin: 0 auto;
    background-color: #000000;
    height: 162px;
    width: 1590px;
    margin-top: 6px;
  }

  &_logos {
    height: 40px;
    color: #FFFFFF;
  }

  &_ozon {
    width: 181px;
  }

  &_wild {
    width: 266px;
  }

  &_sber {
    width: 299px;
  }

  &_yandex {
    width: 209px;
  }
  
    &_ozon,
    &_wild,
    &_sber {
       margin-right: 140px;
    }
}