.rectangle {
  max-width: 1728px;
  height: 1117px;
  margin-left: 730px;
  background: linear-gradient(90deg, #E4E4E4 0%, #FAFAFA 100%);
  position: relative;
  align-items: center;
  justify-content: right;
  z-index: 1;
  margin-top: -780px;
}

.white-crosses1 {
  height: 474px;
  margin-left: 107px;
  position: absolute;
  align-items: center;
  justify-content: center;
  margin-top: 316px;
}

.text-ultimate {
  color: #FFFFFF;
  margin-top: 155px;
  margin-bottom: 12px;
  position: absolute;
  margin-left: 0.4px;
}

.trendy-slick {
  color: #000000;
  text-transform: capitalize;
  display: inline-block;
  width: 295px;
  height: 35px;
  font-size: 38px;
  font-style: Medium;
  position: absolute;
  margin-top: 907px;
  margin-left: 352px;
}

.price-3999 {
  color: #00000080;
  text-transform: capitalize;
  display: inline-block;
  width: 112px;
  height: 39px;
  font-size: 32px;
  position: absolute;
  margin-top: 957px;
  margin-left: 439px;
}
