.review {

  &_container {
    width: 1590px;
    height: 449px;
    padding: 0 84px;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }

  &_header {
    width: 522px;
    margin-top: 83px;
    margin-bottom: 51px;
    margin-left: 457px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_title {
    color: #000000;
    width: 422px;
    font-weight: 500;
    font-size: 45px;
    gap: 22px;
  }

  &_big_wrapper {
    display: flex;
    align-items: center;
    gap: 68px;
    margin-bottom: 99px;
    color: #000000;
  }

  &_wrapper {
    flex-direction: column;
    display: inline-flex;
    justify-content: center;
    transform: translate(29px, -144px);
  }

  &_image {
    display: inline;
    width: 151px;
  }

  &_ava,
  &_otis {
    width: 746px;
    height: 336px;
    background-color: #F3F3F3;
    border-radius: 25px;
    border: 2px solid #DEDEDE;
  }

  &_photo {
    width: 132px;
    height: 180px;
    margin-top: 78px;
    margin-left: 69px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 2.77px 2.21px 0px #00000005,
                0px 6.65px 5.32px 0px #00000007,
                0px 12.52px 10.02px 0px #00000009,
                0px 22.34px 17.87px 0px #0000000B,
                0px 41.78px 33.42px 0px #0000000D,
                0px 100px 80px 0px #00000012;
  }

  &_name {
    width: 151px;
    height: 39px;
    font-size: 28px;
    font-weight: 500;
  }

  &_star {
    width: 19px;
    height: 19px;
  }

  &_review {
    width: 422px;
    height: 75px;
    font-size: 18px;
    font-weight: 400;
  }
}
