@import 'common/fonts.scss';
@import 'common/clear-button.scss';
@import 'common/clear-list.scss';

@import 'root.scss';
@import 'blocks/container.scss';
@import 'blocks/header.scss';
@import 'blocks/hero.scss';
@import 'blocks/hero-right.scss';
@import 'blocks/hero-left.scss';
@import 'blocks/partner.scss';
@import 'blocks/product.scss';
@import 'blocks/section-red.scss';
@import 'blocks/banner.scss';
@import 'blocks/review.scss';
@import 'blocks/footer.scss';
